

body{
  /* background-color: cornflowerblue; */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwJfNNWV3x727gQn1xRmu5Je-sWOhe5zwclQ&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: silver;
}
/* 
.App{
  margin-top: 100px; 
  margin-left: 450px;
  margin-right: 450px; */


  /* position: relative; */
  /* display : inline-block;   */
  /* margin: 10px auto; */
  /* background-color: rgb(248, 239, 239); */
  /* border-radius: 16px; */

  /* padding: 15px 100px; */

  /* color: black; */
  /* font-size: 20px; */
  /* font-weight: 700; */

  /* text-align: center; */
  /* box-shadow:3px 6px rgba(50,50,70,0.5); */
  
/* } */